extends layout
block ref
    link(rel='stylesheet', href='/stylesheets/style.css')
    script(src='/javascripts/dashboard.js',type="text/javascript")
    script(src='https://code.highcharts.com/stock/highstock.js',type="text/javascript")
block nav
    ul.right.hide-on-med-and-down
                li
                    a(href="#") Home
                li
                    a(href="/report") Report
    ul#mobile.side-nav
                li
                    a(href="#") Home
                li
                    a(href="/report") Report
block content

    div.container

        div.row
            //- img#connected(src="connected1small.png")
            div.col.s12.m12.l12
                div.circle2.blackC.center-align
                    div.circleInner
                    //- img.disconnected(src="disconnected1small.png")
                    span.sensorStatus Discovering...
                
                span#type
                div.click Connect to device
                p
                    input(type="checkbox").filled-in#fib-temp
                    label(for="fib-temp") Temperature
                p
                    input(type="checkbox").filled-in#fib-humi
                    label(for="fib-humi") Humidity
                p
                    input(type="checkbox").filled-in#fib-lux
                    label(for="fib-lux") Light
                p
                    input(type="checkbox").filled-in#fib-gyro
                    label(for="fib-gyro") Movement
                a.waves-effect.btn.btn-connect.disabled.center-align Connect
                a.waves-effect.btn.btn-disconnect.disabled.center-align Disconnect
        div.row
            div.col.s12.m6.l6.containerCircle
                span Temperature
                .circle.redC
                .circlePanel#temperature
             div.col.s12.m6.l6
                div#graphTemp(style="min-width: 310px; height: 400px; margin: 0 auto;")

        div.row
            div.col.s12.m6.l6.containerCircle
                span Humidity
                .circle.blueC
                .circlePanel#humidity
             div.col.s12.m6.l6
                div#graphHumi(style="min-width: 310px; height: 400px; margin: 0 auto;")

        div.row
            div.col.s12.m6.l6.containerCircle
                span Luxometer
                .circle.yellowC
                .circlePanel#luxometer
             div.col.s12.m6.l6
                div#graphLux(style="min-width: 310px; height: 400px; margin: 0 auto;")
        //- Data record form
        div.row
            div.col.s12.m6.l6.containerCircle
                span Gyroscope
                .circle.yellowC
                .circlePanel(style="font-size:15pt;")#gyroscope
            div.col.s12.m6.l6.containerCircle
                span Door state
                .circle.yellowC
                .circlePanel(style="font-size:15pt;")#state

        div.row
            div.col.s12.m12.l12
                div#graphState(style="min-width: 310px; height: 400px; margin: 0 auto; ")
        